langchain
streamlit
openai
tiktoken
python-dotenv
pinecone-client
plotly
matplotlib
seaborn
tabulate
plotly
pandas
wordcloud
textblob
python-docx
summarizer
transformers
docx2txt
Summarizer
docx
