langchain
streamlit
openai
tiktoken
python-dotenv
pinecone-client
plotly
matplotlib
seaborn
tabulate
plotly
pandas
wordcloud
textblob
python-docx
Summarizer
transformers
docx2txt
summarizer
